* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0b0c0c;
    border: 2px solid grey;

}

h1 {
    color: #E26677;
    font-size: 32px;
    font-family: sans-serif;
}

.background {
    background-image: url("https://cdn-icons-png.flaticon.com/512/14002/14002320.png");
    width: 80%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.screen {
    width: 180px;
    height: 130px;
    position: relative;
    top: -10px;
}


.hungerMoodle{
    position: absolute;
    right: 15px;
    top:15px;
    width: 22px;
    display: none;
}
.thirstMoodle{
    position: absolute;
    right: 35px;
    top:12px;
    width: 27px;
    display: none;
}
.happinessMoodle{
    position: absolute;
    right: 60px;
    top:15px;
    width: 25px;
    display: none;
}

.active {
    display: block;
}

.sprite {
    width: 20px;
    height: 40px;
    background: greenyellow;
    position: absolute;
    bottom: 0;
    left: 100px;
}

.slogan{
    display: flex;
    padding: 20px;
    font-size: 30px;
    background-color: #E26677;
    width: fit-content;
    border-radius: 5px;
    margin-left: 20px;
    flex-direction: column;
}

.practice{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.btnContainer{
    display: flex;
    outline: 3px solid red;
    justify-content: space-evenly;
    margin: 10px;
    width: 80%;
}

.buttons{
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 14px 3px green;
    font-size: 18px;
}

.food{
    top: 700px;
}
.drink{
    top: 600px;
}
.play{
    top: 500px;
}

.food:hover{
    font-weight: 600;
    background-color: green;
    color: white;
    cursor: pointer;
}